<div class="w-100 pa4 pa6-l beige clearfix">
    <div class="w-100 w-80-ns f3 f2-l mb3 mb5-ns" style="font-family: 'Inconsolata', monospace">
        👋 Hi, I'm Khang, an aspiring web developer with a background in computer engineering. 
        <br>📍 Based out of Washington D.C. 
    </div>
    <div class="w-100 w-60-ns f5 f4-l mb3 mb5-ns" style="font-family: 'Inconsolata', monospace">
        Currently a senior at Virginia Tech, looking for post graduate opportunities in web and software development,
        product design, and UI/UX design.
        <br>
        <br> Always learning, creating, and discovering.
        <br>
        <br> Checkout my Github <a href="https://github.com/khangdl">here</a>
    </div>
</div>