<div class="w-100 h5 bg-black ">
    <div class="w-100-ns f2 f2-l white pa5 pl0 pr4 mr6 pa6-l" style="font-family: 'Inconsolata', monospace">
        <div class="tl fl fr-l ml0">
            // <a class="link underline white hover-red" href="https://github.com/khangdl">Github</a> 
            // <a class="link underline white hover-red" href="https://www.linkedin.com/in/khang-lieu-322928b0/">LinkedIn</a> 
            // <a  class="link underline white hover-red" href="mailto:khangdlieu@gmail.com">Email</a>
            
        </div>
    </div>

</div>