<div class="mw9 center bg-black ph3-ns white" style="font-family:avenir" >
  <div class="cf ph2-ns">
    <div class="fl w-100 w-70-ns pa2">
      <div class="tl pv2 glow hover-light-yellow pointer tracked-mega" style="font-weight:700;font-size:2rem">K. LIEU</div>
    </div>
    <div class="fl w-third w-10-ns pa2">
      <div class="tc pv3">Portfolio</div>
    </div>
    <div class="fl w-third w-10-ns pa2">
      <div class="tc pv3">About me</div>
    </div>
    <div class="fl w-third w-10-ns pa2">
      <div class="tc pv3">Contact</div>
    </div>
  </div>
</div>