<div class="db bg-black white pv6 pv7-l">
    <div class="f2 f1-l pl2 pr4 center bg-black dib white" style="font-family: 'Quicksand', sans-serif">
        <div class="db dib-m dib-l">
            <span class="flicker-red disable-select">Web Developer</span> <span class="flicker-white disable-select">&&</span> 
        </div>
        <div class="db dib-m dib-l">
            <span class="dib-l flicker-yellow disable-select" >Creator</span> <span class="flicker-white disable-select">&&</span>
        </div>
        <span class="dib-m dib-l flicker-blue disable-select">Artist </span>
    </div>
</div>