<div class="db bg-black white pv6 pv7-l">
    <div class="f2 f1-l pl2 pr4 center bg-black dib white" style="font-family: 'Quicksand', sans-serif">
        <div class="db dib-m dib-l">
            <span class="neonred">Web Developer</span> <span class="neonblue">&&</span> 
        </div>
        <div class="db dib-m dib-l">
            <span class="dib-l neonyellow" >Creator</span> <span class="neonblue">&&</span>
        </div>
        <span class="dib-m dib-l neonand">Artist </span>
    </div>
</div>