---
---

.neonred {
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #FF3B3F,
      0 0 80px #FF3B3F,
      0 0 90px #FF3B3F,
      0 0 100px #FF3B3F,
      0 0 150px #FF3B3F
  }

  .neonblue {
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #CAEBF2,
      0 0 80px #CAEBF2,
      0 0 90px #CAEBF2,
      0 0 100px #CAEBF2,
      0 0 150px #CAEBF2
  }

  .neonyellow {
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #FDEF0F,
      0 0 80px #FDEF0F,
      0 0 90px #FDEF0F,
      0 0 100px#FDEF0F,
      0 0 150px#FDEF0F
  }

  .neonand {
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
  }


